.content-main {
	font-family: Verdana;
}

.money-amount {
	font-size:20px;
}

.dolar-color {
	color:#A0D229 !important;
}

.euro-color {
	color:#4077D9 !important;
}

.pound-color {
	color:#9F240F !important;
}

.heart-color {
	
}

.yen-color {

}

.peso-color {

}

.small-green-text {
	color: #A0D229;
	font-size:12px;
	letter-spacing: .05em;
	word-spacing: -.3em;
}